*{
    margin: 0;
    padding: 0;
    }

.title{
    text-align: center;
    font-size: 2.25em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 30px;
    margin-bottom: 35px;
}


section {
    width: 100vw;
    height: 100vh;
    padding: 0.5em;
    box-sizing: border-box;
    display: flex;
    align-items: center; /* aligns vertically in the center*/ 
    }

section:nth-child(odd) {
    /* background-color: lightblue; /* used this to clearly see the cut-offs of sections */  
    justify-content: flex-end; /* aligns to the left (horizontally)*/ 
    }

section:nth-child(even) {
    justify-content: flex-start; /* aligns to the right (horizontally)*/ 
    }

.center-img {
   width: 40vw;
   height: 40vh;
   max-width: 800px;
   max-height: 800px;
   height: auto;
   }

footer{
    background-color: lightgrey;
    text-align: center;
    font-size: 0.5em;
    padding: 6px; 
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
